<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class = "container">

    <header th:replace="fragments :: head2"></header>

    <form method="post">

        <th:block th:each="thread : ${threads}">
            <div class="form-group">
                <label>
                    <span th:text="${thread.threadName}"></span>
                        <input type="checkbox" name="threadIds" th:value="${thread.id}" class="form-control">
                </label>
            </div>
        </th:block>

        <input type="submit" value="Delete" class="btn btn-danger">

    </form>

</body>
</html>
