<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: head2"></header>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <td th:text="${thread.id}"></td>
        </tr>
        <tr>
            <th>Message</th>
            <td th:text="${thread.threadDetails.threadMessage}"></td>
        </tr>
        <tr>
            <th>Contact Email</th>
            <td th:text="${thread.threadDetails.contactEmail}"></td>
        </tr>
    </table>

</body>
</html>
