<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: head2"></header>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Thread Name</th>
            </tr>
            </thead>
            <tr th:each="thread : ${threads}">
                <td><a th:href="'/threads/detail?threadId=' + ${thread.id}" th:text="${thread.threadName}"></a></td>
        </tr>
    </table>

</body>
</html>