<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>DIVVY BUY</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</head>
<body>

    <h1 th:fragment="userHead" th:text="${title}">
        DIVVY BUY</h1>

    <nav th:fragment="head2">
        <h1 th:text="${title}">DIVVY BUY</h1>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
        </ul>
    </nav>

    <nav th:fragment="header">
        <h1 th:text="${title}">DIVVY BUY</h1>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/threads">All Threads</a></li>
            <li class="nav-item"><a class="nav-link" href="/threads/create">Create Thread</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/userprofile">View User Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/userprofile/update">Update User Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="/threads/delete">Delete Threads</a></li>
            <li class="nav-item"><a class="nav-link" href="/topics">All Topics</a></li>
            <li class="nav-item"><a class="nav-link" href="/topics/create">Create Topic</a></li>
        </ul>
    </nav>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">DIVVY BUY</a>
        </div>
        <div class="nav navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/list}">List</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/threads/create}">Create Threads</a></li>
                <li><a th:href="@{/topics/create}">Create Topics</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>