<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: head2"></header>

    <table class = "table table-striped">
        <thead>
        <tr>
            <th>Topic Name</th>
        </tr>
        </thead>
        <tr th:each="topicCategory : ${topicCategories}">
            <td> <a th:text="${topicCategory.topicName}" th:href="'/threads?topicCategoryId=' + ${topicCategory.id}"></a></td>
        </tr>
    </table>

</body>
</html>